@Scripts.Render("~/Home_Index/js")
  
        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider hero-overly  slider-height d-flex align-items-center" style="background-image:url(/AR1/Content/assets/img/hero/LOGO_PD.jpg)">
                    <!--<img class="" src="~/Content/assets/img/hero/LOGO_PD.jpg" style="width:100%" /> -->
                    <div class="container">
                        <!--
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9">
                <div class="hero__caption">
                    <h1>AR1__<span>Project Tracking</span> </h1>
                </div>
            </div>
        </div>
            -->
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- form -->
                                <form action="#" class="search-box">
                                    <div class="input-form mb-30">
                                        <input type="text" placeholder="กรอกเลขเอกสารของคุณ...">
                                    </div>
                                    <div class="select-form mb-30" hidden>
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">When</option>
                                                <option value="">Services-1</option>
                                                <option value="">Services-2</option>
                                                <option value="">Services-3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-form mb-30">
                                        <a href="#">Search</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
