
@{
    ViewBag.Title = "FORM";
}
<div class="container" style="font-family: 'Barlow Condensed'">
    <div class="section-top-border">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <h3 class="mb-20 text-center">Appropriation Request (AR-1)</h3>
                <form action="#" style="border:groove">
                    <div class="row">
                        <div class="col-xl-10 col-lg-10">
                            <h4>Project:</h4>
                            <input type="text" name="first_name" placeholder="ชื่อโครงการ"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'ชื่อโครงการ'" required
                                   class="single-input">
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <h4>วันที่:</h4>
                            <input type="text" name="first_name" placeholder="DD/MM/YYYY"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = ''" required
                                   class="single-input">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h4>Unit:</h4>
                            <input type="text" name="last_name" placeholder="ชื่อ Business Unit ที่ลงทุนของโครงการนี้"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'ชื่อ Business Unit ที่ลงทุนของโครงการนี้'" required
                                   class="single-input">
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <h4>Location: <i style="font-size:14px">(สถานที่ตั้ง)</i> </h4>
                            <div class="input-group-icon">
                                <!--div class="icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></div-->
                                <div class="form-select" id="default-select">
                                    <select>
                                        <option value=" 1">Maneeya</option>
                                        <option value=" 1">Bangplee</option>
                                        <option value="1">Rayong</option>
                                        <option value="1">TCI</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h4> Department:</h4>
                            <input type="email" name="EMAIL" placeholder="ฝ่าย/แผนกเจ้าของโครงการ"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'ฝ่าย/แผนกเจ้าของโครงการ'" required
                                   class="single-input">
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <h4> Prioritization Category:</h4>
                            <input type="email" name="EMAIL" placeholder="เลือกว่าโครงการอยู่ในหมวดใด"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'เลือกว่าโครงการอยู่ในหมวดใด'" required
                                   class="single-input">
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-lg-12">
                            <h4> IS Project Type:</h4>
                            <div class="form-check single-input">
                                <label class="form-check-label col-xl-2 col-lg-4  col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Infrastructure</a>
                                </label>
                                <label class="form-check-label col-xl-2 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Strategic</a>
                                </label><label class="form-check-label col-xl-2 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>CustomerService</a>
                                </label>
                                <label class="form-check-label col-xl-2 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Cost Saving</a>
                                </label><label class="form-check-label col-xl-1 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>OPX</a>
                                </label>
                                <label class="form-check-label col-xl-2 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Lean</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h4> Request Type:</h4>
                            <div class="form-check single-input">
                                <label class="form-check-label col-xl-4 col-lg-4  col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Initial</a>
                                </label>
                                <label class="form-check-label col-xl-4 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Revision</a>
                                </label>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <h4> Risk Rating:</h4>
                            <input type="text" name="EMAIL" placeholder="Risk Rating"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Risk Rating'" required
                                   class="single-input">
                        </div><div class="col-xl-3 col-lg-3">
                            <h4> Score:</h4>
                            <input type="text" name="EMAIL" placeholder="Score"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Score'" required
                                   class="single-input">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <h4> Budgeted:</h4>
                            <div class="form-check single-input">
                                <label class="form-check-label col-xl-4 col-lg-4  col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>Yes</a>
                                </label>
                                <label class="form-check-label col-xl-4 col-lg-4 col-md-4">
                                    <input type="checkbox" class="primary-radio" value="">
                                    <a>No</a>
                                </label>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <h4> Mandatory :</h4>
                            <input type="text" name="EMAIL" placeholder="Mandatory "
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mandatory '" required
                                   class="single-input">
                        </div><div class="col-xl-3 col-lg-3">
                            <h4> Discretionary:</h4>
                            <input type="text" name="EMAIL" placeholder="Discretionary"
                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Discretionary'" required
                                   class="single-input">
                        </div>
                    </div>
                </form>
                <form action="#" style="border:groove" class="col-xl-12 col-lg-12">
                    <div class="row">
                        <div class="row col-xl-8 col-lg-7 col-md-7">
                            <div class="col-xl-4 col-lg-3 col-md-3">
                                <h5> Capital Required:</h5>
                                <div class="form-check ">
                                    <h6>Capital</h6>
                                    <h6>Start-up Costs</h6>
                                    <h6>Transfer Amount</h6>
                                    <h6>Expense</h6>
                                    <p>Total</p>

                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> This Request :</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Previous :</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Total:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>
                        </div>
                        <div class="row col-xl-4 col-lg-5 col-md-5">
                            <div class="col-xl-7 col-lg-5 col-md-5">
                                <div class="form-check ">
                                    <h6>Budget Reference No.</h6>
                                    <h6>Appropriation Request No.</h6>
                                    <h6>Estimated Start Date:</h6>
                                    <h6>Estimated Finish Date:</h6>
                                    <h6>Additional</h6>
                                    <h6>PVR:</h6>
                                    <h6>Economic Life:</h6>

                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-7 col-md-7">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                            </div>
                        </div>
                    </div>
                </form>
                <form action="#" style="border:groove" class="col-xl-12 col-lg-12">
                    <div class="row">
                        <div class="row col-xl-8 col-lg-7 col-md-7">
                            <div class="col-xl-4 col-lg-3 col-md-3">
                                <h5>Spending by Period:</h5>
                                <div class="form-check ">
                                    <h6>Capital</h6>
                                    <h6>Start-up Costs</h6>
                                    <h6>Transfer Amount</h6>
                                    <h6>Expense</h6>
                                    <p>Total</p>

                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Prior Years:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Current Year :</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Future Years:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Total:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>
                        </div>
                        <div class="row col-xl-4 col-lg-5 col-md-5">
                            <div class="col-xl-7 col-lg-5 col-md-5">
                                <h5>Financial Support:</h5>
                                <div class="form-check ">
                                    <h6>IRR (%):</h6>
                                    <h6>NPV...% (kB):</h6>
                                    <h6>NPV@10% (kB):</h6>
                                    <h6>NPV@12% (kB):</h6>
                                    <h6>NPV@15% (kB):</h6>
                                    <h6>PVR:</h6>
                                    <h6>Economic Life:</h6>

                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-7 col-md-7">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1 mt-25">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                            </div>
                        </div>

                    </div>

                </form>
                <form action="#" style="border:groove" class="col-xl-12 col-lg-12">
                    <div class="row">
                        <div class="row col-xl-8 col-lg-7 col-md-7">
                            <div class="col-xl-4 col-lg-3 col-md-3">
                                <h5>JV Contributions:</h5>
                                <div class="form-check ">
                                    <h6>Capital to Sites</h6>
                                    <h6>Expense to Sites</h6>
                                    <h6>Spending In:</h6>
                                    <h6>Current Forecast</h6>
                                    <h6>Current Budget</h6>

                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Prior Years:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '- '" required
                                       class="single-input1">
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Current Year :</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Future Years:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>

                            <div class="col-xl-2 col-lg-3 col-md-3">
                                <h6> Total:</h6>
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                                <input type="text" name="" placeholder="-"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                       class="single-input1">
                            </div>
                        </div>
                        <div class="row col-xl-4 col-lg-5 col-md-5">
                            <div class="col-xl-12 col-lg-12 col-md-12">
                                <h5>Exchange Rates:</h5> 
                                    <div class="row form-check">
                                        <h6>
                                            AR: 
                                                <input type="text" name="" placeholder="-"
                                                       onfocus="this.placeholder = ''" onblur="this.placeholder = '-'" required
                                                       class="single-input1"> 
                                        </h6>
                                    </div>
                                    <h6>B/</h6> 
                                <h5>Financial Benefit - Is it included in:</h5>
                                <div class="form-check ">
                                    <div class="row col-xl-12 col-lg-12  col-md-12">
                                        <h6>Current Forecast:</h6>
                                        <label class="form-check-label col-xl-3 col-lg-4  col-md-4">
                                            <input type="checkbox" class="primary-radio" value="">
                                            <a>Yes</a>
                                        </label>
                                        <label class="form-check-label col-xl-3 col-lg-4  col-md-4">
                                            <input type="checkbox" class="primary-radio" value="">
                                            <a>No</a>
                                        </label>
                                    </div>
                                    <div class="row col-xl-12 col-lg-12  col-md-12">
                                        <h6>Current Budget:&nbsp;&nbsp;&nbsp;</h6>
                                        <label class="form-check-label col-xl-3 col-lg-4  col-md-4">
                                            <input type="checkbox" class="primary-radio" value="">
                                            <a>Yes</a>
                                        </label>
                                        <label class="form-check-label col-xl-3 col-lg-4  col-md-4">
                                            <input type="checkbox" class="primary-radio" value="">
                                            <a>No</a>
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </form>


                <form action="#" style="border:groove">

                    <h4> Project Summary/Description:</h4>
                    <div class="mt-10">
                        <textarea class="single-textarea" placeholder="สรุปย่ออธิบายวัตถุประสงค์ของโครงการ" onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = 'สรุปย่ออธิบายวัตถุประสงค์ของโครงการ'" required></textarea>
                    </div>

                    <!-- For Gradient Border Use -->
                    <!-- <div class="mt-10">
                        <div class="primary-input">
                            <input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
                            <label for="primary-input"></label>
                        </div>
                    </div> -->

                </form>
            </div>
        </div>
    </div>

</div>

